header, nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;
    background-color: pink;
}

header h1 {
    font-size: 3rem;
}

ul > li {
    padding: 0 1rem;
    text-decoration: none;
    list-style: none;

    font-size: 2rem;
}
